@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* direction: rtl; */
  font-family: "Cairo", sans-serif;
}
body{
  height: 100vh;
}
::-webkit-scrollbar {
  width: 0px;
  height: 2px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c6c6c6;
  height: 2px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  height: 2px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}